
.properties-group:not(.header) {
    /*height: calc(100% - 1em);*/
}

.properties-group-title:hover {
    color: black;
    background-color: orange;
}
.properties-group-title {
    padding: 0.25em;
    cursor: pointer;
    height: 1.5rem;
}

.property {
    height: 1.5rem;
    position: relative;
    border-top: 1px solid transparent;
}
.property.monoline {
    /*height: calc(1em + 0.5ch * 2);*/
}
.property select,
.property.monoline textarea,
.property.monoline input {
    height: calc(1.5rem - 2px) !important;
}

.property .form-select {
    width: 100%;
}

.monaco-editor.vs-dark .mtk1,
.monaco-editor.vs-dark .jsx-tag-attribute-key {
    color: #97dcff !important;
}
.monaco-editor.vs-dark .jsx-tag-attribute-key + .mtk9,
.monaco-editor.vs-dark .mtk9,
.monaco-editor.vs-dark .jsx-text {
    color: #d4d4d4 !important;
}
.monaco-editor.vs-dark .jsx-tag-name {
    color: #569CD6 !important;
}
.monaco-editor.vs-dark .jsx-tag-angle-bracket {
    color: gray !important;
}
.monaco-editor.vs-dark .jsx-expression-braces {
    color: #F0D610 !important;
}

.monaco-editor.vs .mtk1,
.monaco-editor.vs .jsx-tag-attribute-key {
    color: #095277 !important;
}
.monaco-editor.vs .jsx-tag-attribute-key + .mtk9,
.monaco-editor.vs .mtk9,
.monaco-editor.vs .jsx-text {
    color: black !important;
}
.monaco-editor.vs .jsx-tag-name {
    color: #008BFF !important;
}
.monaco-editor.vs .jsx-tag-angle-bracket {
    color: gray !important;
}
.monaco-editor.vs .jsx-expression-braces {
    color: #FF00EF !important;
}
